@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer base {
    :root {
        --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol', 'Noto Color Emoji';
    }
    @font-face {
        font-family: 'Helvetica Neue';
        src: url('../fonts/HelveticaNeue.ttc') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Helvetica Neue';
        src: url('../fonts/HelveticaNeue.ttc') format('truetype');
        font-weight: 500;
        font-style: normal;
    }
}
body,
html {
    @apply bg-gray-100;
}
.animation-block {
    display: flex;
    flex-direction: column;
}

.animation-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    gap: 32px;
}

.animation-container .animation-wrapper {
    animation-delay: -3s;
    display: flex;
    align-items: center;
    min-width: 100%;
    flex-shrink: 0;
    justify-content: space-around;
    gap: 32px;
}

.animation-container.animation-container-images .animation-wrapper div {
    width: 100%;
    overflow: hidden;
}

.animation-container .animation-wrapper {
    animation: 100s slides infinite linear;
}

.animation-container.animation-container-logos .animation-wrapper.animation-reverse {
    animation-direction: reverse;
}

@keyframes slides {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.swiper.popular-courses-swiper {
    padding-bottom: 110px;
}
.swiper.popular-trainings-swiper {
    padding-bottom: 110px;
}
.swiper-wrapper .swiper-slide {
    height: auto;
}
.swiper-slide-peek,
.swiper-slide-prev {
    opacity: 0.3;
    transition: opacity 0.3s;
}
.swiper-button-next.popular-courses-next,
.swiper-button-prev.popular-courses-prev,
.swiper-button-next.popular-trainings-next,
.swiper-button-prev.popular-trainings-prev {
    position: relative;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    margin-top: unset;
    width: 35px;
    height: 35px;
}
.swiper-button-next.popular-courses-next:after,
.swiper-button-next.popular-trainings-next:after {
    display: none;
}

.swiper-button-prev.popular-courses-prev:after,
.swiper-button-prev.popular-trainings-prev:after {
    display: none;
}

.news-article h1 {
    @apply my-4 md:my-6 text-black-100 text-3xl md:text-[40px] font-normal font-medium md:font-bold leading-[42px] md:leading-[48px] md:tracking-[-1.4px];
}

.news-article h2 {
    @apply my-4 md:my-6 text-black-100 text-xl md:text-[32px] font-medium md:font-bold leading-[42px] md:leading-[37.36px] md:tracking-[-1.12px];
}

.news-article h3 {
    @apply my-4 md:my-6 text-black-100 text-lg md:text-2xl leading-[42px] md:leading-7 md:tracking-[-0.84px] md:font-bold;
}

.news-article p {
    @apply my-4 md:my-6 text-black-100 text-base font-normal leading-6;
}

.news-article ul {
    @apply my-4 md:my-6 text-black-100 text-base font-normal leading-6;
}

.news-article ul li {
    @apply my-3 text-black-100  text-base font-normal leading-6;
}

.cms-content {
    @apply text-black-100 text-base font-normal leading-6;
}

.cms-content p,
.cms-content div
.cms-content ul {
    @apply my-4 md:my-6;
}

.cms-content {
    @apply text-black-100;
}

.cms-content ul{
    @apply list-disc pl-7;
}

.policy-content {
    @apply text-black-100;
}

.policy-content h1 {
    @apply text-[32px] md:text-[40px] font-bold leading-[42px] md:leading-[48px] mb-6;
}
.policy-content h2 {
    @apply text-xl md:text-2xl font-medium md:font-bold leading-6;
}
.policy-content h3 {
    @apply text-lg md:text-xl leading-6 md:font-bold;
}

.policy-content p,
.policy-content div,
.policy-content li,
.policy-content h3,
.policy-content h2 {
    @apply my-4 md:my-6;
}

.policy-content ul li {
    @apply list-disc;
}

.policy-content table {
    @apply w-full border border-black overflow-hidden border-separate;
    border-spacing: 0;
}

.policy-content table th {
     @apply font-medium text-xl leading-[30px] text-left pl-4 pr-5 pt-5; 
}
.policy-content table td {
     @apply align-top font-medium text-base leading-6 text-left px-5; 
}
.policy-content table thead th + th,
.policy-content table tbody td + td {
     @apply border-l border-black;
}
.policy-content table ul { 
    @apply m-0 pl-5 list-disc; 
}
.policy-content table li { 
    @apply leading-6 m-0 py-3; 
}